#loggedInBox{
    display: none;
}
#login_box{
    display: block;
}
.product_image{
  width: 150px;
  max-height: 100px;
}
#restaurantTable{
  border: 1px solid black;
}
#table_information{
  display: none;
}

.tg  {border-collapse:collapse;border-spacing:0;margin:0px auto;}
.tg td{font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 10px;word-break:normal; font-weight: bold;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-hebq{background-color:#fcff2f;border-color:inherit;color:#000000;text-align:left;vertical-align:top}
.tg .tg-n9g5{background-color:#ffffff;border-color:inherit;color:#000000;text-align:left;vertical-align:top}
.tg .tg-symt{background-color:#000000;border-color:inherit;color:#000000;text-align:left;vertical-align:top}
.tg .tg-kwiq{border-color:inherit;color:#000000;text-align:left;vertical-align:top}
.tg .tg-06j3{background-color:#6434fc;border-color:inherit;color:#000000;text-align:left;vertical-align:top}
@media screen and (max-width: 767px) {.tg {width: auto !important;}.tg col {width: auto !important;}.tg-wrap {overflow-x: auto;-webkit-overflow-scrolling: touch;margin: auto 0px;}}

#end_table_modal{
  border: 1px solid black;
  width: 300px;
  min-height: 100px;
  border-radius: 10px;
  background-color: lightskyblue;
  z-index: 99;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  display: none;
}

.active_table{
  background-color: lightgreen !important;
}

.modal_active{
  filter: blur(4px);
  pointer-events: none;
}

.loader {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 5px solid black; /* Light grey */
  border-top: 5px solid red; /* Blue */
  border-radius: 50%;
  width: 12px;
  height: 12px;
  animation: spin 1s linear infinite;
  display: none;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}